
<footer class="footer">
	<ul class="about">
		<li class="footer-title"><a>About Us</a></li>
		<li><a>Contact</a></li>
		<li><a>Mobile</a></li>
		<li><a>Email</a></li>
	</ul>
	<ul class="legal">
		<li class="footer-title"><a>Legal</a></li>
		<li><a>Privacy Policy</a></li>
		<li><a>Terms and Conditions</a></li>
		<li><a>License</a></li>
	</ul>
	<ul class="social">
		<li class="footer-title"><a>Social</a></li>
		<li><a class="fa fa-facebook-f fa-2x"></a></li>
		<li><a class="fa fa-youtube fa-2x"></a></li>
		<li><a class="fa fa-instagram fa-2x"></a></li>
	</ul>
	<p class="copyright"><span>&copy; 2023 Explore Bangladesh.</span></p>
</footer>