	
	<header class="header">
		<div class="topheader">
			<h2><span class="s1">EXPLORE</span> <span class="s2">BANGLADESH</span></h2>
		</div>

		<nav class="menubar">
			<ul>
				<li><a href="#" th:href="@{/}">Home</a></li>

				<li><a href="#" th:href="@{/places/list}">Places<i class="down-arrow"></i>
					<ul>
						<li><a href="#">Cox's Bazar</a></li>
						<li><a href="#">Bandarban</a></li>
						<li><a href="#">Rangamati</a></li>
						<li><a href="#">Sylhet</a></li>
						<li><a href="#">Sundarban</a></li>
					</ul>
					</a>
				</li>

				<li><a href="#" th:href="@{/tours}">Upcoming Tours<i class="down-arrow"></i>
					<ul>
						<li>
							<a href="#">August<i class="right-arrow"></i></a>
						</li>
						<li><a href="#">Septmber<i class="right-arrow"></i></a>
						</li>
					</ul>
					</a>
				</li>

				<li><a href="#">Custom Tours<i class="down-arrow"></i>
					<ul>
						<li><a href="#">Solo Tour<i class="right-arrow"></i></a></li>
						<li><a href="#">Couple Tour</a></li>
						<li><a href="#">FnF Tour</a></li>
						<li><a href="#">Corporate Tour</a></li>
					</ul>
					</a>
				</li>

				<li><a href="#">Tour Library</a></li>

				<li><a href="#">Adventure School<i class="down-arrow"></i>
					<ul>
						<li><a href="#">Running</a></li>
						<li><a href="#">Cycling</a></li>
						<li><a href="#">Hiking</a></li>
						<li><a href="#">Climbing</a></li>
						<li><a href="#">Sailing</a></li>
						<li><a href="#">Swimming</a></li>
						<li><a href="#">Mountaineering</a></li>
					</ul>
					</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="bg-warning">
					<a href="#" th:href="@{/tours/new}">New Tour</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="bg-info">
					<a href="#" th:href="@{/places/add}">Add Place</a>
				</li>
				<li sec:authorize="isAnonymous()" class="bg-dark">
					<a href="#" th:href="@{/login}">Login</a>
				</li>
				<li sec:authorize="isAnonymous()" class="bg-primary">
					<a href="#" th:href="@{/register}">Register</a>
				</li>
				<li sec:authorize="isFullyAuthenticated()" class="bg-success">
					<a href="#" th:href="@{/profile}">Profile</a>
				</li>
				<li sec:authorize="isFullyAuthenticated()" class="bg-danger">
					<a href="#" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</nav>
	</header>
