<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--========== head ===========-->
<div th:replace="../fragments/head">This content will be gone</div>


<!--========== Main Body ===========-->
<body class="container parent">
	<!--========== navbar ===========-->
	<div th:replace="../fragments/navbar">This content will be gone</div>

	<main class="main">
		<section class="main-section">
			
			<section class="block-1">
				<div class="block-1-title">
					<h4><span>Featured</span></h4>
				</div>
				
				<div class="block-1a">
					<div class="block-1a-content">
						<img src="../images/monsoon.jpg" th:src="@{images/monsoon.jpg}">
					</div>
					<div class="block-1a-headline">
						<h3>Trekking in Ruma and Thanchi, Bandarban, Sept 21-24</h3>
					</div>
				</div>
				<div class="block-1b">
					<div class="block-1b-content">
						<img src="../images/bogalake.jpg" th:src="@{images/bogalake.jpg}">
					</div>
					<div class="block-1b-headline">
						<p>Hiking Bogalake, Bandarban, October 12-14</p>
					</div>
				</div>
				<div class="block-1c">
					<div class="block-1c-content">
						<img src="../images/kaptai-1.jpg"  th:src="@{images/kaptai-1.jpg}">
					</div>
					<div class="block-1c-headline">
						<p>Boat Trip in Kaptai Lake, Rangamati. August 05-07</p>
					</div>
				</div>
				
				<div class="block-1d">
					<div class="block-1d-content">
						<img src="../images/tlabongbypiash.jpg" th:src="@{images/tlabongbypiash.jpg}">
					</div>
					<div class="block-1d-headline">
						<p>Exploring Tlabong Waterfall, Ruma, Bandarban. July 24-28</p>
					</div>
					
				</div>
				<div class="block-1e">
					<div class="block-1e-content">
						<img src="../images/sundarban.jpg" th:src="@{images/sundarban.jpg}">
					</div>
					<div class="block-1e-headline">
						<p>Sundarban Safari, Bagerhat, November 08-12</p>
					</div>
				</div>
				<div class="block-1f">
					<div class="block-1f-content">
						<img src="../images/teknaf.jpeg" th:src="@{images/teknaf.jpg}">
					</div>
					<div class="block-1f-headline">
						<p>Teknaf Beach Hiking, Cox's Bazar, July 18-22</p>
					</div>
				</div>
				
				
			</section>

			<section class="block-2">
				<div class="block-2-title">
					<h4><span>Tour List</span></h4>
				</div>
				<div class="">
					<table class="shadow-sm table table-striped table-bordered table-hover">
						<thead class="table-dark">
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Description</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Capacity</th>
								<th>Cost</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tour: ${tours}">
								<td th:text="${tour.id}"></td>
								<td th:text="${tour.title}"></td>
								<td th:text="${tour.description}"></td>
								<td th:text="${tour.startDate}"></td>
								<td th:text="${tour.endDate}"></td>
								<td th:text="${tour.capacity}"></td>
								<td th:text="${tour.cost}"></td>
								<td>
									<a class="btn btn-sm btn-danger d-inline" th:href="@{/tours/{id}(id=${tour.id})}">Book</a>
									<a class="btn btn-sm btn-info d-inline" th:href="@{/tours/{id}(id=${tour.id})}">Follow</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			
			</section>
		</section>

	</main>

	<!--========== Footer ===========-->
	<div th:replace="../fragments/footer">This content will be gone</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>